.footer {
  padding-top: 4.5rem;
  padding-bottom: 4rem;
  background-color: var(--grey);
  padding-left: 5.15rem;
  padding-right: 5.15rem;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  height: 4.7rem;
  width: 26.9rem;
  
}