.implement-bot {
  grid-column: 2 span;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.implement-btn {
  padding-left: 3.9rem;
  padding-right: 3.2rem;
}