.interesting-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
  @include breakpoint($xl-bp) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
  }
}

.interesting-inp {
  width: 30rem;
  max-width: 100%;
  font-weight: 700;
  @include breakpoint($xl-bp) {
    grid-column: 2 span;
    width: 100%;
  }
  &.--light {
    border-color: var(--orange);
    color: var(--orange);

  }
}

.custom-select {
  &.--interesting-select {
    width: 30rem;
    @include breakpoint($xl-bp) {
      width: 100%;
      grid-column: 2 span;
    }
  }

  &.--light {
    .select-selected {
      color: var(--orange);

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 10L0.339745 0.249998L17.6603 0.25L9 10Z' fill='%23CDB98C'/%3E%3C/svg%3E%0A");
      }

      border-color: var(--orange);
    }
  }
}

.interesting-btn {
  padding: 1rem 1.15rem;
  border: 0.2rem solid var(--orange);
  font-weight: 500;
  font-size: 1.6rem;
  border-radius: 0.3rem;
  transition: color .3s, background-color .3s;
  width: 100%;
  text-align: center;
  @include breakpoint($xl-bp) {
    padding: 0.5rem 0.8rem;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--orange);
    }
  }
}

.interesting-line {
  height: 4.2rem;
  width: 0.5rem;
  background-color: var(--orange);
  border-radius: 0.2rem;
  @include breakpoint($xl-bp) {
    grid-column: 2 span;
    width: 100%;
    height: 0.5rem;
  }
}

.interesting-reset {
  //styleName: H5;
  font-family: 'Fira Sans';
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: var(--black);
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.9rem 1.2rem;
  border-radius: .2rem;
  transition: background-color .3s, color .3s;
  border: 0.1rem solid var(--orange);
  @include breakpoint($xl-bp) {
    grid-column: 2 span;
    width: 100%;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--orange);
      background-color: transparent;
    }
  }
}

.intresting-item {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(7.5rem, min-content);
  gap: 4rem;
  row-gap: 0;
  margin-right: 28rem;

  @include breakpoint($cos-bp) {
    margin-right: 4rem;
  }

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    background-color: var(--lgrey-2);
    padding: 2rem 0.75rem 1rem;
    margin-right: 0;
  }
}

.intresting-list {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  @include breakpoint($xl-bp) {
    margin-top: 2rem;
    gap: 2rem;
  }
}

.interesting-img {
  border-radius: 0.3rem;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 36rem;
  @include breakpoint($xl-bp) {
    margin-top: 1.2rem;
    height: 19.37rem;
  }
}

.interesting-label {
  cursor: pointer;
  display: flex;
  input {
    display: none;
    &:checked + .interesting-btn {
      background-color: var(--orange);
      color: var(--white);
    }
  }
}