.lots-header {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.lots-head {
  display: flex;
  align-items: center;
  max-width: 169rem;
  margin: 0 auto;

  @include breakpoint($cos-bp) {
    max-width: 114.3rem;
  }

  @include breakpoint($xl-bp) {
    flex-direction: column;
  }
}

.dark {
  .lots-header {
    background-color: #161616;
  }
}

.lots-pagination {
  @include breakpoint($xl-bp) {
    justify-content: center;
  }
}

.--light {
  .lots-input {
    width: 100%;
  }
}

.lots-input {
  width: 30rem;
  font-weight: 700;

  @include breakpoint($xl-bp) {
    width: 100%;
    grid-column: 2 span;
    font-weight: 400;
  }

  &.--light {
    width: 100%;
  }

  &.w-full {
    width: 100%;
  }
}

.lots-number {
  width: 12rem;
  font-weight: 700;

  @include breakpoint($xl-bp) {
    width: 100%;
    font-weight: 400;
  }

  &.--light {
    width: 100%;
  }

  &.w-full {
    width: 100%;
  }
}

.lots-info {
  padding-left: 14.2rem;
  position: relative;

  @include breakpoint($xl-bp) {
    padding-left: 0;
    text-align: center;
    margin-top: 2rem;
  }

  &::before {
    content: '';
    position: absolute;
    left: 7rem;
    top: 50%;
    height: calc(100% + 1rem);
    transform: translateY(-50%);
    width: 0.2rem;
    background-color: var(--grey);

    @include breakpoint($xl-bp) {
      content: normal;
    }
  }
}

.dark {
  .lots-info {
    &::before {
      background-color: var(--orange);
    }
  }
}

.lots-filter {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: 1rem;

  @include breakpoint($xl-bp) {
    margin-top: 2rem;
  }
}

.lots-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  @include breakpoint($xl-bp) {
    flex-direction: column;
  }

  &.--light {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;

    @include breakpoint($xl-bp) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}

.lots-selects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.lots-years {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-left: 1rem; 
  @include breakpoint($cos-bp) {
    margin-left: 0;
  }
  @include breakpoint($xl-bp) {
    justify-content: center;
    gap: 1rem;
  }
}

.lots-ylist {
  display: flex;
  align-items: center;
  color: var(--grey);
  gap: 2rem;
  @include breakpoint($xl-bp) {
    gap: 1rem;
  }
  &.--light {
    width: 100%;
    justify-content: space-between;

    .lots-year {
      width: 12rem;
      @include breakpoint($xl-bp) {
        width: 7rem;
      }
    }
  }
}

.lots-ytext {
  color: var(--grey);
  @include breakpoint($xl-bp) {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

.dark {
  .lots-ytext {
    color: var(--orange);
  }
}

.lots-line {
  font-weight: 500;
  font-size: 3.2rem;
  @include breakpoint($xl-bp) {
    font-size: 2rem;
    font-weight: normal;
  }
  &.--white {
    color: var(--orange);
  }
}

.dark {
  .lots-ylist {
    color: var(--orange);
  }
}

.lots-year {
  width: 8.8rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 122%;
  text-align: center;
  color: var(--grey);
  @include breakpoint($xl-bp) {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
}

.lots-view {
  width: 3.6rem;
  height: 3.6rem;
  fill: var(--grey);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      fill: var(--orange);
    }
  }

  &.--white {

    fill: var(--orange);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        fill: var(--grey);
      }
    }
  }
}

.dark {
  .lots-view {
    fill: var(--orange);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        fill: var(--lgrey-2);
      }
    }
  }
}

.lots-reset {
  //styleName: H5;
  font-family: 'Fira Sans';
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: var(--white);
  background-color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.9rem 1.2rem;
  border-radius: .2rem;
  transition: background-color .3s, color .3s;
  border: 0.1rem solid var(--grey);
  @include breakpoint($xl-bp) {
    font-size: 1rem;
    line-height: normal;
    max-width: 17.5rem;
  }
  &.mobile-hidden {
    @include breakpoint($xl-bp) {
      display: none;
    }
  }
  &.mobile-first {
    display: none;
    @include breakpoint($xl-bp) {
      display: flex;
    }
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--grey);
      background-color: transparent;
    }
  }

  &.--light {
    width: 14.3rem;
  }

  &.--white {
    border-color: var(--orange);
    background-color: var(--orange);
    color: var(--grey);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: transparent;
        color: var(--orange);
      }
    }
  }
}

.dark {
  .lots-reset {
    border-color: var(--orange);
    background-color: var(--orange);
    color: var(--grey);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: transparent;
        color: var(--orange);
      }
    }
  }
}

.lots-views {
  display: flex;
  gap: 2.2rem;
  align-items: center;

  @include breakpoint($xl-bp) {
    display: none;
  }
}

.lots-list[data-content="--box"],
.lots-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  row-gap: 3.8rem;
  margin-top: 2rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &.--lk {
    grid-template-columns: repeat(3, 1fr);

    @include breakpoint($xl-bp) {
      display: flex;
      flex-direction: column;
    }
  }
}

.lots-list[data-content="--box"] {
  &.--lk {
    .lk-offeritem {
      display: flex;
      flex-direction: column;
    }
  }
}

.lots-list[data-content="--plane"] {
  grid-template-columns: repeat(2, 1fr);

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
  }

  &.--lk {
    grid-template-columns: repeat(1, 1fr);

    @include breakpoint($xl-bp) {
      display: flex;
      flex-direction: column;
    }
  }

  .lots-item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint($xl-bp) {
      flex-direction: column;
    }
  }


}

.lots-item {
  background-color: rgba($color: #D0B787, $alpha: 0.1);
  border: 0.2rem solid var(--orange);
  border-radius: 0.2rem;
  background-color: var(--black);
  padding: 0.7rem 1.3rem 2.2rem 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.--grey {
    background-color: #343E47;
  }

  &.--white {
    background-color: var(--lgrey-2);

    .lots-price,
    .lots-link,
    .lots-num {
      color: var(--grey);
    }

    .lots-link {
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: var(--orange);
        }
      }
    }

    .lots-favor {
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          stroke: var(--grey);
        }
      }
    }
  }
}

.lots-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.lots-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lots-favor {
  width: 1.9rem;
  height: 1.9rem;
  stroke: var(--orange);
  fill: transparent;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      stroke: var(--lgrey-2);
    }
  }

  &.selected {
    fill: var(--orange);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        fill: var(--lgrey-2);
      }
    }
  }
}

.lots-doc {
  width: 1rem;
  height: 1.3rem;
  fill: var(--orange);
  flex: 0 0 auto;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      fill: var(--lgrey-2);
    }
  }
}

.lots-num {
  margin-left: 1rem;
}

.lots-date {
  color: var(--lgrey-2);
  margin-right: 1rem;
}

.lots-link {
  transition: color .3s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--lgrey-2);
    }
  }
}

.lots-name {
  max-width: 19.8rem;
  margin-top: 1.5rem;
}

.lots-images {
  display: flex;
  gap: 1.7rem;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
}

.lots-img {
  width: 11.6rem;
  height: 11.6rem;
}

.lots-material {
  margin-right: auto;
  color: var(--lgrey-2);
}

.lots-form {
  display: grid;
  grid-template-columns: 8.4rem 7.5rem;
  gap: 1.8rem;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.lots-stavka {
  //styleName: Menu;
  font-family: 'Fira Sans';
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  text-align: center;
  color: var(--lgrey-2);
  background-color: #161616;
  border: 0.1rem solid var(--lgrey-2);
  border-radius: 0.2rem;
  height: 3.4rem;

  &::placeholder {
    color: var(--lgrey-2);
  }
}

.lots-submit {
  border-radius: 0.2rem;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lots-botitem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2.4rem;
  padding-left: 0.4rem;
}

.lots-bot {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint($xl-bp) {
    margin-top: 2rem;
  }
}

.radio-container {
  position: relative;
}

.radio-btn {
  width: 100%;
  text-align: start;
  border-bottom: 0.2rem solid var(--grey);
  background-color: transparent;
  cursor: pointer;
  color: var(--grey);
  font-family: 'Fira Sans';
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  padding: 1rem 0.75rem;
  padding-right: 3.5rem;

  @include breakpoint($xl-bp) {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    height: 4rem;
    padding: 1.2rem 1.1rem 1.2rem 1.3rem;
    padding-right: 3.5rem;
    border-width: 0.1rem;
  }
}

.radio-btn:after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 1.6rem;
  width: 1.8rem;
  height: 1rem;
  transition: transform .3s;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 10L0.339745 0.249998L17.6603 0.25L9 10Z' fill='%23343E47'/%3E%3C/svg%3E%0A");
  @include breakpoint($xl-bp) {
    width: 1.2rem;
    height: 0.8rem;
  }
}

.radio-btn.select-arrow-active:after {
  // border-color: transparent transparent #fff transparent;
  transform: translateY(-50%) rotate(180deg);
}

.radio-btn.select-arrow-active+.radio-list {
  display: block;
}

.dark {
  .radio-btn {
    color: var(--orange);
  }
}

.dark {
  .radio-btn {
    border-color: var(--orange);

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 10L0.339745 0.249998L17.6603 0.25L9 10Z' fill='%23CDB98C'/%3E%3C/svg%3E%0A");
    }
  }
}

.radio-list {
  position: absolute;
  background-color: var(--lgrey-2);
  top: calc(100% + 0.1rem);
  left: 0;
  right: 0;
  z-index: 99;
  overflow: hidden;
  // box-shadow: 0px 0.5rem 1rem rgba(19, 33, 42, 0.15);
  animation: fadeEffect .3s;
  padding: 1.2rem 1.9rem;
  border-radius: 0.3rem;
  display: none;
}

.radio-item {
  padding: 0.5rem 0;
}

.radio-label {
  display: flex;
  gap: 0.8rem;
  align-items: baseline;
  transition: color .3s;
  cursor: pointer;
  @include breakpoint($xl-bp) {
    align-items: flex-start;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .radio-text {
        color: var(--orange);
      }
    }
  }

  input {
    position: absolute;
    pointer-events: none;
    opacity: 0;

    &:checked+.radio-box {
      background-color: var(--orange);
    }
  }
}

.radio-box {
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--lgrey-2);
  border: 1px solid var(--orange);
  border-radius: 0.2rem;
  display: inline-block;
  transition: background-color .3s;
}

.radio-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 112%;
  color: var(--black);
  transition: color .3s;
  @include breakpoint($xl-bp) {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

.lots-inputs {
  display: flex;
  align-items: center;
  gap: 3.6rem;

  @include breakpoint($xl-bp) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.lots-rightwrap {
  display: flex;
  justify-content: space-between;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.lots-price {
  grid-column: 2 span;
  font-weight: 600;
  font-size: 2.2rem;
  text-align: right;
  color: var(--orange);
  margin-left: auto;
  margin-top: 2.7rem;
}