.main-wrapper {
  position: relative;

  .arrow-swiper {
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    &.next {
      right: 2rem;
      @include breakpoint($xl-bp) {
        right: 0.8rem;
      }
    }

    &.prev {
      left: 2rem;
      @include breakpoint($xl-bp) {
        left: 0.8rem;
      }
    }
  }
}

.main-item {
  position: relative;
  min-height: 37.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 12.4rem;
  padding-bottom: 12.4rem;
  @include breakpoint($xl-bp) {
    min-height: 50rem;
    padding-top: 11.9rem;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(48, 62, 71, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    @include breakpoint($xl-bp) {
      background-color: rgba(48, 62, 71, 0.6);
    }
  }

  &.--private {
    min-height: 60rem;
    @include breakpoint($xl-bp) {
      min-height: 50rem;
    }
  }
  &.--private-catalog {
    min-height: 60rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    @include breakpoint($xl-bp) {
      min-height: 50rem;
    }
  }
  &.--numis {
    min-height: 60rem;
    @include breakpoint($xl-bp) {
      min-height: 50rem;
    }
    &::after {
      background: linear-gradient(180deg, #2c2b2e 46%, rgba(44, 47, 49, 0.2) 99.99%, rgba(43, 43, 43, 0) 100%);
      opacity: 0.7;
    }
  }
}

.main-subtitle,
.main-title {
  position: relative;
  z-index: 1;
  color: var(--lgrey-2);
}

.main-title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 3.8rem;
  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-family: 'Fira Sans';
  }

  &.--numis {
    margin-top: 5rem;
    @include breakpoint($xl-bp) {
      margin-top: 2rem;
    }
  }
}

.main-subtitle {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8.5rem;
  font-family: 'PT Serif';
  margin-top: 0.5rem;
  &.--private {
    margin-top: 3rem;
    @include breakpoint($xl-bp) {
      margin-top: 2.5rem;
    }
  }
  &.--private-catalog {
    margin-top: 1.5rem;
    @include breakpoint($xl-bp) {
      margin-top: 1rem;
    }
  }
  &.--numis {
    margin-top: 0;
  }
  @include breakpoint($xl-bp) {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-top: 2.5rem;
  }
}

.arrow-swiper {
  width: 1.6rem;
  height: 4rem;
  display: block;
  fill: #F1EFEC;
  flex: 0 0 auto;
  @include breakpoint($xl-bp) {
    width: 1rem;
    height: 1rem;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      fill: var(--orange);
    }
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  &:active {
    fill: var(--lgrey);
  }
}

.main-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  margin-top: 3.9rem;
  padding-bottom: 4rem;
  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
    padding-bottom: 0;
  }
}
.main-h4 {
  color: var(--orange);
  border-bottom: 0.4rem solid var(--orange);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.6rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 1.9rem;
    border-bottom-width: 0.2rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.main-desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.2rem;
  @include breakpoint($xl-bp) {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

.last-margin {
  margin-top: 8rem;
}