.mcontacts {
  @include breakpoint($xl-bp) {
    margin-top: 3.4rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
}

.mcontacts-wrapper {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    margin-top: 2.4rem;
  }
}

.mcontacts-info {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.6rem;
  @include breakpoint($xl-bp) {
    font-size: 1.4rem;
    line-height: 1.5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}

.mcontacts-map {
  border-radius: 0.3rem;
  background: rgb(241, 239, 236);
  margin-top: 0.5rem;
  height: 50rem;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  @include breakpoint($xl-bp) {
    height: 28.5rem;
  }
}

.mcontacts-socials {
  display: flex;
  gap: 3.7rem;
  margin-top: 9.5rem;
  @include breakpoint($xl-bp) {
    gap: 1.6rem;
    margin-top: 1.5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}
.mcontacts-social {
  height: 6.4rem;
  width: 6.6rem;
  @include breakpoint($xl-bp) {
    width: 3.5rem;
    height: 3.6rem;
  }
}

.mcontacts-taxi {
  width: 36.5rem;
  height: 10rem;
  max-width: 100%;
  margin-top: 3.65rem;
  @include breakpoint($xl-bp) {
    margin-top: 1.5rem;
    max-width: 21.2rem;
    margin-left: 0.4rem;
    margin-top: 1.5rem;
    height: 4.6rem;
  }
}