.menu {
  width: 100%;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.menu-btn {
  max-width: 100%;
  white-space: nowrap;
  border-radius: 0.3rem;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-item {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--lgrey);
  transition: color .3s;
  @media (hover: hover) and (pointer: fine) {
  &:hover {
    color: var(--orange);
  }
  }
}

.menu--open {
  transform: translateX(0);
}

.menu-button {

  display: none;


  .burger-button-close {

    #first-line-burger,
    #second-line-burger,
    #third-line-burger {
      width: 100%;
      height: 0.33rem;
      background-color: var(--orange);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      transform-origin: center center;
      transition: transform 0.4s ease, opacity 0.4s ease;
    }

    #first-line-burger {
      top: 0%;
    }

    #second-line-burger {
      transform: translate3d(-50%, -50%, 0);
    }

    #third-line-burger {
      top: unset;
      bottom: 0%;
    }
  }

  @include breakpoint($xl-bp) {
    display: block;
    position: relative;
    width: 2rem;
    height: 1.8rem;
  }
}

.header__menu-button--active,
.menu-button--active {
  .burger-button-close {
    #first-line-burger {
      top: 50%;
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
    }

    #second-line-burger {
      transform: translate3d(0, -50%, 0);
      opacity: 0;
    }

    #third-line-burger {
      top: 50%;
      bottom: 0;
      transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    }
  }
}


.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}