.minteresting {
  position: relative;
  margin-top: 10rem;
  @include breakpoint($xl-bp) {
    margin-top: 3.4rem;
  }
  &.--private {
    padding-bottom: 6rem;
    @include breakpoint($xl-bp) {
      padding-bottom: 3rem;
    }
  }
  &.mt-80 {
    margin-top: 8rem;
    @include breakpoint($xl-bp) {
      margin-top: 3.4rem;
    }
  }

  .swiper-pagination {
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
}


.minteresting-swiper {
  padding-bottom: 6rem;
  @include breakpoint($xl-bp) {
    padding-bottom: 3.1rem;
  }
  &.--private {
    padding-bottom: 4rem;
    @include breakpoint($xl-bp) {
      padding-bottom: 1rem; 
    }
  }
  .swiper-slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content minmax(7.5rem, min-content);
    gap: 4rem;
    row-gap: 0;
    margin-right: 30rem;
    @include breakpoint($cos-bp) {
      margin-right: 4rem;
    }
    @include breakpoint($xl-bp) {
      display: flex;
      flex-direction: column;
      background-color: var(--lgrey-2);
      padding: 2rem 0.75rem 1rem;
    }

    &.--private {
      grid-template-rows: min-content minmax(5.5rem, min-content); 
      @include breakpoint($xl-bp) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .swiper-pagination {
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }

  &.--masterpiece {
    .swiper-slide {

      grid-template-rows: min-content minmax(6.5rem, min-content);
    }
  }
}

.minteresting-title {
  grid-column: 2 span;
  margin-bottom: 8rem;
  @include breakpoint($xl-bp) {
    margin-bottom: 1rem;
  }
}

.minteresting-types {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: min-content;
}

.minteresting-type {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: var(--orange);
  @include breakpoint($xl-bp) {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;
  }

  &.--private {
    font-size: 2.2rem;
    line-height: 2.6rem;
    @include breakpoint($xl-bp) {
      font-size: 1.4rem;
      line-height: 1.5rem;
    }
  }
}

.minteresting-img {
  border-radius: 0.3rem;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  height: 36rem;
  background-color: #F1EFEC;
  &.--private {
    margin-top: 0.5rem;
  }
  @include breakpoint($xl-bp) {
    margin-top: 1.2rem;
    height: 19.37rem;
  }
}

.minteresting-bot {
  display: flex;
  flex-direction: column;
}

.minteresting-subtitle {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.6rem;
  min-height: 8.3rem;
  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    margin-top: 0.5rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    min-height: 0;
    font-family: 'Fira Sans';
  }
  &.--private {
    min-height: 3.3rem;
    @include breakpoint($xl-bp) {
      min-height: 0 ;
    }
  }
}

.minteresting-desc {
  margin-top: 2rem;
  @include breakpoint($xl-bp) {
    margin-top: 0.7rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
  &.--private {
    max-width: 61rem;
  }
}

.minteresting-link {
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  margin-top: auto;
  @include breakpoint($xl-bp) {
    text-align: center;
    margin-top: 1rem;
  }
}


.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  @include breakpoint($xl-bp) {
    flex-direction: column;
    gap: 1.1rem;
  }

  &>* {
    width: 45rem;
    max-width: 100%;
  }
}

.mt-40 {
  margin-top: 4rem;
  @include breakpoint($xl-bp) {
    margin-top: 0.5rem;
  }
}

.subscribe-input {
  @include breakpoint($xl-bp) {
    max-width: 24rem;
  }
}

.subscribe-btn {
  text-align: start;
  font-family: 'Fira Sans';
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.6rem;
  transition: color .3s;
  @media (hover: hover) and (pointer: fine) {
  &:hover {
    color: var(--orange);
  }
  }
  @include breakpoint($xl-bp) {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    max-width: 13.3rem;
    padding: 0.6rem 0.8rem;
  }
}

.wysiwyg {

  h2,h3,h4,h5,h6 {
    margin-bottom: 4rem;
    margin-bottom: 6rem;
    @include breakpoint($xl-bp) {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }

  h2 {
    font-family: 'PT Serif';
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.3rem;
    text-align: center;
  
    @include breakpoint($xl-bp) {
      font-size: 2rem;
      line-height: 2.7rem;
    }
  }
  
  h3 {
    font-family: 'PT Serif';
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.2rem;
  
    @include breakpoint($xl-bp) {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }
  
  h4 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.6rem;
  
    @include breakpoint($xl-bp) {
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }
  
  h5 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem;
  }
  
  h6 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.2rem;
    @include breakpoint($xl-bp) {
      font-size: 1.6rem;
      line-height: normal;
    }
  }
  
  p {
    margin-bottom: 2rem;
    @include breakpoint($xl-bp) {
      margin-bottom: 1rem;
    }
  }

  & > * {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.minteresting-private {
  display: flex;
  align-items: center;
  justify-content: center;
}

.minteresting-btn{
  min-width: 23rem;
}