
.mservices-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8.2rem;
  row-gap: 4rem;
  margin-top: 8rem;
}

.mservices-item {
  a {
    border-radius: 0.3rem;
    background-color: var(--lgrey-2);
    padding: 2rem 5.5rem;
    min-height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color .3s;
    @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--orange);
    }
    }
  }

  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.6rem;
  text-align: center;
}