.mservices {
  @include breakpoint($xl-bp) {
    margin-top: 1.1rem;
  }
}

.mservices-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8.2rem;
  row-gap: 4rem;
  margin-top: 8rem;

  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 0.5rem;
    margin-top: 2rem;
    padding-left: 0.55rem;
    padding-right: 0.55rem;
  }
}

.mservices-item {
  a {
    border-radius: 0.3rem;
    background-color: var(--lgrey-2);
    color: var(--grey);
    padding: 2rem 5.5rem;
    min-height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color .3s;
    @include breakpoint($xl-bp) {
      padding: 1.5rem 1.1rem;
      min-height: 6rem;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--orange);
      }
    }


  }

  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.6rem;
  text-align: center;

  @include breakpoint($xl-bp) {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
}