.nearest {
  @include breakpoint($xl-bp) {
    margin-top: 5rem;
  }
}

.nearest-swiper-wrapper {
  position: relative;
  .arrow-swiper {
    display: none;
    @include breakpoint($xl-bp) {
      position: absolute;
      top: 47%;
      display: block;
      width: 0.6rem;
      height: 1.2rem; 
      fill: var(--orange);
      z-index: 5;
      &.next {
        right: 0.8rem;
      }
      &.prev {
        left: 0.8rem;
      }
    }
  }
}

.nearest-swiper {
  padding-bottom: 3rem;
  @include breakpoint($xl-bp) {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    padding-bottom: 2rem;
  }
}

.nearest-list {
  margin-top: 8rem;
  justify-content: center;
  @include breakpoint($xl-bp) {
    margin-top: 2rem;
    justify-content: flex-start;
  }
}
.nearest-item {
  width: 39.3rem;
  margin-right: 17rem;
  @include breakpoint($max-bp) {
    margin-right: 3rem;
  }
  @include breakpoint($xl-bp) {
    width: 100%;
  }
  &:last-child {
    margin-right: 0;
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color: #D0B787, $alpha: 0.1);
    border: 0.2rem solid var(--orange);
    border-radius: 0.2rem;
    padding-top: 5.6rem;
    min-height: 24.5rem;
    transition: background-color .3s, color .3s;
    @include breakpoint($xl-bp) {
      padding-top: 2rem;
      border-width: 0.1rem;
      min-height: 15.2rem;
    }
    @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--lgrey-2);
      color: var(--grey);
      .nearest-btn {
        opacity: 1;
      }
    }
    }

  }
}
.nearest-subtitle {
  text-align: center;
  @include breakpoint($xl-bp) {
    font-size: 2rem;
  }
}
.nearest-desc {
  text-align: center;
  margin-top: 3rem;
  @include breakpoint($xl-bp) {
    margin-top: 1rem;
    line-height: 3rem;
  }
}
.nearest-btn {
  display: inline-block;
  padding-right: 2.78rem;
  padding-left: 2.78rem;
  margin-top: auto;
  position: relative;
  top: 2.9rem;
  opacity: 0;
  transition: opacity .3s;
  @include breakpoint($xl-bp) {
    background-color: var(--orange);
    color: var(--grey);
    opacity: 1;
    top: 1.5rem;
  }
  @media (hover: hover) and (pointer: fine) {
  &:hover {
    background-color: var(--orange);
    color: var(--grey);
  }
  }
}