.ngraph {
  position: relative;

  .arrow-swiper {
    display: block;
    position: absolute;
    bottom: 8rem;
    transform: translate3d(0, -50%, 0);
    z-index: 1;
    &.prev {
      left: 2rem;
    }
    &.next {
      right: 2rem;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.ngraph-swiper {
  padding-left: 6.3rem;
  padding-right: 6.3rem;
  @include breakpoint($xl-bp) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .swiper-slide {
    margin-right: 7rem;
  }
}

.ngraph-block {
  width: 100%;
  border: 0.2rem solid var(--orange);
  border-radius: 0.2rem;
  min-height: 24.5rem;
  background: rgba($color: #D0B787, $alpha: 0.1);
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ngraph-line {
  height: 1.8rem;
  width: 102.1rem;
  max-width: 100%;
  margin-left: 2rem;
  position: relative;
}

.ngraph-message {
  position: absolute;
  top: -5.4rem;
  li {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    position: absolute;
    top: 0;
    &:first-child {
      left: 7rem;
      color: var(--orange);
      width: 14.2rem;
      & > div {
        &:first-child {
          font-weight: 700;
          font-size: 3.2rem;
          text-align: center;
          font-family: 'PT Serif';
        }
        &:last-child {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 122%;
          text-align: center;
        }
      }
    }
    &:last-child {
      color: var(--lgrey-2);
      left: 31.5rem;
      & > div {
        &:first-child {
          font-weight: 700;
          font-size: 3.2rem;
          text-align: center;
          display: flex;
          gap: 35rem;
          white-space: nowrap;
          & > div {
            font-family: 'PT Serif';
            width: 14.2rem;
          }
        }
        &:last-child {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 122%;
          text-align: center;
        }
      }
    }
  }
}