.ngraph {
  position: relative;

  @include breakpoint($xl-bp) {
    margin-top: 2.5rem;
  }

  .arrow-swiper {
    display: block;
    position: absolute;
    bottom: 8rem;
    transform: translate3d(0, -50%, 0);
    z-index: 1;

    @include breakpoint($xl-bp) {
      fill: var(--orange);
      bottom: 11.5rem;
    }

    &.prev {
      left: 29.6rem;
      @include breakpoint($cos-bp) {
        left: 2rem;
      }

      @include breakpoint($xl-bp) {
        left: 0.8rem;
      }
    }

    &.next {
      right: 29.6rem;
      @include breakpoint($cos-bp) {
        right: 2rem;
      }

      @include breakpoint($xl-bp) {
        right: 0.8rem;
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.ngraph-swiper {
  padding-right: 34rem;
  padding-left: 34rem;
  padding-bottom: 0.1rem;
  @include breakpoint($cos-bp) {
    padding-left: 6.3rem;
    padding-right: 6.3rem; 
  }

  @include breakpoint($xl-bp) {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .swiper-slide {
    margin-right: 35rem;
    @include breakpoint($cos-bp) {
      margin-right: 7rem;
    }

    @include breakpoint($xl-bp) {
      margin-right: 3rem;
    }
  }
}

.ngraph-block {
  width: 100%;
  border: 0.2rem solid var(--orange);
  border-radius: 0.2rem;
  min-height: 24.5rem;
  background: rgba($color: #D0B787, $alpha: 0.1);
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint($xl-bp) {
    margin-top: 2rem;
    min-height: 23.5rem;
    padding: 1.8rem 0;
    padding-bottom: 1.6rem;
    border-width: 0.1rem;
  }
}

.ngraph-line {
  height: 1.8rem;
  width: 102.1rem;
  max-width: 100%;
  margin-left: 2rem;
  position: relative;

  @include breakpoint($xl-bp) {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }

  img {
    @include breakpoint($xl-bp) {
      display: none;
    }
  }
}

.ngraph-message {
  position: absolute;
  top: -5.4rem;

  @include breakpoint($xl-bp) {
    position: static;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  li {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    position: absolute;
    top: 0;

    @include breakpoint($xl-bp) {
      position: static;
      gap: 4.5rem;
    }

    &:first-child {
      left: 7rem;
      color: var(--orange);
      width: 14.2rem;

      @include breakpoint($xl-bp) {
        width: 100%;
        left: 0;
      }

      &>div {
        &:first-child {
          font-weight: 700;
          font-size: 3.2rem;
          text-align: center;
          font-family: 'PT Serif';

          @include breakpoint($xl-bp) {
            font-weight: 700;
            font-size: 2rem;
            text-align: center;
          }
        }

        &:last-child {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 122%;
          text-align: center;

          @include breakpoint($xl-bp) {
            font-weight: 700;
            font-size: 1.6rem;
            text-align: center;
            position: relative;

            &::before {
              content: '';
              background-image: url("data:image/svg+xml,%3Csvg width='277' height='17' viewBox='0 0 277 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='5.75879' height='5.75879' transform='matrix(0.70495 0.709257 -0.70495 0.709257 272 3)' fill='%23CDB98C'/%3E%3Crect width='5.75879' height='5.75879' transform='matrix(0.70495 0.709257 -0.70495 0.709257 5 3)' fill='%23CDB98C'/%3E%3Crect width='11.9636' height='11.9636' transform='matrix(0.70495 0.709257 -0.70495 0.709257 138.94 0)' fill='%23CDB98C'/%3E%3Cline x1='17.9403' y1='7' x2='116.339' y2='7' stroke='%23CDB98C' stroke-width='2'/%3E%3Cline x1='160.94' y1='7' x2='259.339' y2='7' stroke='%23CDB98C' stroke-width='2'/%3E%3C/svg%3E%0A");
              position: absolute;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              top: -3rem;
              left: 50%;
              transform: translate3d(-50%, 0, 0);
              width: 100%;
              height: 1.7rem;
            }
          }
        }
      }
    }

    &:last-child {
      color: var(--lgrey-2);
      left: 31.5rem;

      @include breakpoint($xl-bp) {
        gap: 1.1rem;
      }

      &>div {
        @include breakpoint($xl-bp) {
          position: relative;
        }

        &:first-child {
          font-weight: 700;
          font-size: 3.2rem;
          text-align: center;
          display: flex;
          gap: 35rem;
          white-space: nowrap;

          @include breakpoint($xl-bp) {
            font-weight: 700;
            font-size: 2rem;
            text-align: center;
            display: grid;
            grid-template-columns: 8rem 1fr 8rem;
            gap: 0;
          }

          &>div {
            font-family: 'PT Serif';
            width: 14.2rem;

            @include breakpoint($xl-bp) {
              text-overflow: ellipsis;
              overflow: hidden;
              width: auto;
            }
          }
        }

        &:last-child {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 122%;
          text-align: center;

          @include breakpoint($xl-bp) {
            font-weight: 500;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

.mobile-line {
  display: none;

  @include breakpoint($xl-bp) {
    position: relative;
    display: block;
    width: 100%;

    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='166' height='10' viewBox='0 0 166 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='5.75879' height='5.75879' transform='matrix(0.70495 0.709257 -0.70495 0.709257 95.8954 0.970459)' fill='%23F1EFEC'/%3E%3Crect width='5.75879' height='5.75879' transform='matrix(0.70495 0.709257 -0.70495 0.709257 43.4178 0.970459)' fill='%23F1EFEC'/%3E%3Crect width='5.75879' height='5.75879' transform='matrix(0.70495 0.709257 -0.70495 0.709257 148.373 0.970459)' fill='%23F1EFEC'/%3E%3Crect width='5.75879' height='5.75879' transform='matrix(0.70495 0.709257 -0.70495 0.709257 17.1791 0.970459)' fill='%23F1EFEC'/%3E%3Crect width='5.75879' height='5.75879' transform='matrix(0.70495 0.709257 -0.70495 0.709257 122.134 0.970459)' fill='%23F1EFEC'/%3E%3Crect width='5.75879' height='5.75879' transform='matrix(0.70495 0.709257 -0.70495 0.709257 69.6566 0.970459)' fill='%23F1EFEC'/%3E%3Crect width='5.75879' height='5.75879' transform='matrix(0.70495 0.709257 -0.70495 0.709257 4.05969 0.970459)' fill='%23CDB98C'/%3E%3Crect width='5.75879' height='5.75879' transform='matrix(0.70495 0.709257 -0.70495 0.709257 109.015 0.970459)' fill='%23F1EFEC'/%3E%3Crect width='5.75879' height='5.75879' transform='matrix(0.70495 0.709257 -0.70495 0.709257 56.5372 0.970459)' fill='%23F1EFEC'/%3E%3Crect width='5.75879' height='5.75879' transform='matrix(0.70495 0.709257 -0.70495 0.709257 161.492 0.970459)' fill='%23CDB98C'/%3E%3Crect width='5.75879' height='5.75879' transform='matrix(0.70495 0.709257 -0.70495 0.709257 30.2985 0.970459)' fill='%23F1EFEC'/%3E%3Crect width='5.75879' height='5.75879' transform='matrix(0.70495 0.709257 -0.70495 0.709257 135.254 0.970459)' fill='%23F1EFEC'/%3E%3Crect width='5.75879' height='5.75879' transform='matrix(0.70495 0.709257 -0.70495 0.709257 82.776 0.970459)' fill='%23F1EFEC'/%3E%3C/svg%3E%0A");
      width: 100%;
      height: 1rem;
      position: absolute;
      top: 60%;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: translateY(-50%);
    }
  }
}