
.nhowto-title {
}

.nhowto-swiper {
  margin-top: 8rem;
  .swiper-slide {
    width: 35rem;
    margin-right: 4rem;
    &:last-child {
      margin-right: 0;
    }
  }
}


.nhowto-img {
  height: 13.5rem;
}

.nhowto-subtitle {

}