.numis-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 7.2rem;
  position: relative;
  z-index: 1;
  @include breakpoint($xl-bp) {
    flex-direction: column;
    margin-top: 2rem;
  }
}

.numis-btn {
  margin-top: 0;
  width: 24rem;
  max-width: 100%;
}