.numis-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 7.2rem;
  position: relative;
  z-index: 1;
  @include breakpoint($xl-bp) {
    flex-direction: column;
    margin-top: 2.5rem;
    gap: 1rem;
  }
}

.numis-btn {
  margin-top: 0;
  width: 24rem;
  max-width: 100%;
  @include breakpoint($xl-bp) {
    width: 13.3rem;
    background-color: var(--orange);
    padding: 0.6rem 1.5rem;
    border-color: var(--orange);
  }
}