.phow {
  margin-top: 11rem;
  @include breakpoint($xl-bp) {
    margin-top: 3rem;
  }
}

.phow-swiper {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 8rem;
  padding-bottom: 8rem;
  @include breakpoint($xl-bp) {
    margin-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .swiper-wrapper {

  }
  .swiper-slide {
    width: 25.9rem;
    margin-right: 5rem;
    @include breakpoint($xl-bp) {
      width: 18rem;
      margin-right: 3rem;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .swiper-pagination {
    width: 71.7rem;
    max-width: 100%;
    height: 0.7rem;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 0, 0);
  }
}
.phow-img {
  width: 20rem;
  height: 20rem;
  @include breakpoint($xl-bp) {
    width: 15rem;
    height: 15rem;
  }
}
.phow-subtitle {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 2.2rem;
  color: var(--black);
  line-height: normal;
  @include breakpoint($xl-bp) {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
