.schedule-subtitle {
  text-align: center;
  margin-top: 4rem;
  @include breakpoint($xl-bp) {
    margin-top: 2rem;
  }
}

.schedule-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20rem;
  row-gap: 4rem;
  margin-top: 4rem;
  @include breakpoint($xl-bp) {
    margin-top: 1rem;
    gap: 1rem;
  }
}

.schedule-item {
  width: 42.6rem;
  max-width: 100%;
  display: grid;
  grid-template-columns: 0.4fr 0.85fr;
  justify-content: space-between;
  row-gap: 1.6rem;
  @include breakpoint($xl-bp) {
    gap: 0.5rem;
  }
}

.schedule-date {
  grid-row: 2 span;
}

.text-orange {
  color: var(--orange);
}