<section class="mdirections mt-80 container">
  <h2 class="h2 mdirections-title">Наши направления</h2>

  <ul class="mdirections-list">
    <li class="mdirections-item">
      <a href="private.html">
        <div class="mdirections-img img-cover">
          <img src="./assets/images/main/2.jpg" alt="Аукцион Частных Коллекций">
        </div>
        <h3 class="mdirections-subtitle">
          Аукцион <br class="xl-hidden">Частных Коллекций
        </h3>
        <p class="mdirections-desc">
          Эксклюзивное событие закрытого формата.  Мероприятие включает в <br>себя выставку уникальных экспонатов<br> с последующими торгами за право<br> их приобретения 
        </p>
      </a>
    </li>
    <li class="mdirections-item">
      <a href="numis.html">
        <div class="mdirections-img img-cover">
          <img src="./assets/images/main/2.jpg" alt="Аукцион Частных Коллекций">
        </div>
        <h3 class="mdirections-subtitle">
          Нумизматический <br class="xl-hidden">онлайн-аукцион
        </h3>
        <p class="mdirections-desc">
          Интернет-платформа, где вы можете участвовать в торгах за коллекционные монеты России и мира, банкноты, боны, медали, награды, аксессуары <br>и многое другое
        </p>
      </a>
    </li>
    <li class="mdirections-item">
      <a href="gallery.html">
        <div class="mdirections-img img-cover">
          <img src="./assets/images/main/2.jpg" alt="Аукцион Частных Коллекций">
        </div>
        <h3 class="mdirections-subtitle">
          Галерея наших <br class="xl-hidden">шедевров
        </h3>
        <p class="mdirections-desc">
          Онлайн-магазин, специализирующийся на продаже ценных предметов искусства. В нем можно найти шедевры различных направлений: японское искусство, живопись, камнерезное мастерство
        </p>
      </a>
    </li>
  </ul>
</section>