<footer class="footer">
  <div class="footer-top">
    <a href="main.html" class="footer-logo img-contain" aria-label="tomainpage">
      <img src="./assets/images/pokazplace.png" data-src="./assets/images/logo/footer-logo.svg" class="lazyload" alt="logo">
    </a>
  
    <ul class="footer-socials">
      <li class="footer-social">
        <a href="#" class="img-contain" aria-label="telegram-link">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/footer/1.svg" class="lazyload" alt="telegram">
        </a>
      </li>
      <li class="footer-social">
        <a href="#" class="img-contain" aria-label="whatsup-link">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/footer/2.svg" class="lazyload" alt="whatsup">
        </a>
      </li>
    </ul>
  </div>

  <ul class="footer-navs">
    <li class="footer-nav">
      <h2 class="footer-title">
        АУКЦИОНЫ
      </h2>
      <ul class="footer-list">
        <li class="footer-item">
          <a href="numis.html">Нумизматичсекие онлайн-аукционы</a>
        </li>
        <li class="footer-item">
          <a href="private.html">Аукционы Частных Коллекций</a>
        </li>
        <li class="footer-item">
          <a href="gallery.html">Галерея шедевров</a>
        </li>
        <li class="footer-item">
          <a href="archive.html">Архив аукционов</a>
        </li>
      </ul>
    </li>
    <li class="footer-nav">
      <h2 class="footer-title">
        ИНФОРМАЦИЯ
      </h2>
      <ul class="footer-list">
        <li class="footer-item">
          <a href="information.html">Регистрация на аукционы</a>
        </li>
        <li class="footer-item">
          <a href="information.html">Правила аукционов</a>
        </li>
        <li class="footer-item">
          <a href="information.html">Доставка</a>
        </li>
        <li class="footer-item">
          <a href="information.html">Оплата</a>
        </li>
      </ul>
    </li>
    <li class="footer-nav">
      <h2 class="footer-title">
        КОНТАКТЫ
      </h2>
      <ul class="footer-list">
        <li class="footer-item">
          <span>г. Москва, ул. Вавилова 57 А, стр. 4</span>
        </li>
        <li class="footer-item">
          <a href="tel:+74953574600">Телефон: +7 (495 ) 357-46-00</a>
        </li>
        <li class="footer-item">
          <a href="mailto:Info@adacoins.ru">Info@adacoins.ru</a>
        </li>
      </ul>
    </li>
  </ul>
</footer>