<header class="header header-container">

  <a href="main.html" class="header-logo img-contain" aria-label="tomainpage">
    <img src="./assets/images/logo/logo-desc.svg" alt="logo">
  </a>
  {{> menu}}

  <a href="login.html" class="menu-btn btn">
    Войти / Регистрация
  </a>

  <button class="menu-button">
    <span class="burger-button-close">
      <span id="first-line-burger"></span>
      <span id="second-line-burger"></span>
      <span id="third-line-burger"></span>
    </span>
  </button>
</header>