<section class="helpinfo mt-80 container">
  <h2 class="h2 helpinfo-title">Полезная информация</h2>

  <ul class="helpinfo-list">
    <li class="helpinfo-item">
      <a href="#">
        <div class="helpinfo-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/helpinfo/1.png" class="lazyload" alt="Таблица оценки сохранности монет">
        </div>
        <h3 class="h4 helpinfo-subtitle">Таблица оценки <br>сохранности монет</h3>
      </a>
    </li>
    <li class="helpinfo-item">
      <a href="#">
        <div class="helpinfo-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/helpinfo/2.png" class="lazyload" alt="Таблица оценки сохранности монет">
        </div>
        <h3 class="h4 helpinfo-subtitle">Славянские цифры <br>Кирилличсекая система</h3>
      </a>
    </li>
    <li class="helpinfo-item">
      <a href="#">
        <div class="helpinfo-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/helpinfo/3.png" class="lazyload" alt="Таблица оценки сохранности монет">
        </div>
        <h3 class="h4 helpinfo-subtitle">Минцмейстеры монетных <br>дворов России</h3>
      </a>
    </li>
  </ul>
</section>