<section class="mt-80 implement">
  <h2 class="pokaz-title container">23 Мая</h2>
  <h3 class="pokaz-subtitle h2 container">Проведение Аукциона</h3>

  <div class="pokaz-block --implement container">
    <div class="pokaz-rigth">
      <h4 class="pokaz-h4">Закрытое мероприятие для участников аукциона</h4>
      <p class="pokaz-desc">
        Аукцион – единственное место, где можно узнать настоящую стоимость экспоната. Место, где люди могут проявить свой профессионализм и интуицию, приобретая то, что действительно ценно.
        <br><br>
        Это азартно и увлекательно, так как аукционы создают атмосферу, где каждая ставка имеет значение.
      </p>
    </div>
    <div class="pokaz-img img-cover">
      <img src="./assets/images/pokazplace.png" data-src="./assets/images/pokaz/2.jpg" class="lazyload" alt="Проведение Аукциона">
    </div>
  </div>

  <div class="implement-bot">
    <button class="btn implement-btn">Получить приглашение</button>
  </div>
</section>