<ul class="lk-nav">
  <li class="lk-link @if (page === 1) {active}">
    <a href="lk.html">Профиль</a>
  </li>
  <li class="lk-link @if (page === 2) {active}">
    <a href="lk1.html">Финансы</a>
  </li>
  <li class="lk-link @if (page === 3) {active}">
    <a href="lk2.html">Доставка</a>
  </li>
  <li class="lk-link mt-10 @if (page === 4) {active}">
    <a href="lk3.html">Текущий аукцион <svg><use xlink:href='./assets/images/sprite.svg#star3'></use></svg></a>
  </li>
  <li class="lk-link @if (page === 5) {active}">
    <a href="lk4.html">Коллекция</a>
  </li>
  <li class="lk-link @if (page === 6) {active}">
    <a href="lk5.html">Календарь</a>
  </li>
  <li class="lk-link mt-10 @if (page === 7) {active}">
    <a href="lk6.html">Предложить на продажу </a>
  </li>
  <li class="lk-link @if (page === 8) {active}">
    <a href="lk7.html">История продаж</a>
  </li>
</ul>