<li class="lk-offeritem">
  <ul class="offer-images">
    <li class="offer-img img-cover">
      <img src="./assets/images/offer/1.jpg" alt="offer">
    </li>
    <li class="offer-img img-cover">
      <img src="./assets/images/offer/1.jpg" alt="offer">
    </li>
  </ul>

  <div class="offer-wrap">
    <div class="offer-name h6">Рубль 1720 без букв, AU 55</div>
    <div class="offer-date h8">Аукцион №120 (3 марта 20023), лот №123</div>
    <div class="offer-material h7">Серебро 27,96</div>
    <div class="offer-reserv h7">Резерв: 80 000 ₽</div>
  </div>

  <button class="offer-btn btn">Предложить лот</button>


</li>