<li class="lots-item">
  <div class="lots-top">
    <div class="lots-num h7 text-orange">Лот №111</div>
    <div class="lots-date h8">23.02 в 12.00</div>
    <div class="lots-buttons">
      <button class="lots-favor" onclick="this.classList.toggle('selected')">
        <svg><use xlink:href='./assets/images/sprite.svg#star'></use></svg>
      </button>
    </div>
  </div>
  <a href="lot.html" class="lots-link text-orange">
    <h3 class="lots-name h7">
      Название монеты или медали
      Название монеты или медали
    </h3>
  </a>

  <div class="lots-images">
    <div class="lots-img img-contain">
      <img src="./assets/images/lots/1.png" alt="Название монеты или медали">
    </div>
    <div class="lots-img img-contain">
      <img src="./assets/images/lots/1.png" alt="Название монеты или медали">
    </div>
  </div>

  <div class="lots-botitem">
    <h4 class="lots-material h8">
      Серебро, <br>XF 45
    </h4>
  
    <div class="lots-form">
      <input type="number" class="lots-stavka" name="stavka" value="70900">
      <button type="submit" class="lots-submit btn">Ставка</button>
    </div>
  </div>
</li>