<section class="lotsswiper mt-80">
  <h2 class="lotsswiper-title h2 container">@title</h2>

  <div class="swiper lotsswiper-swiper container">
    <div class="swiper-wrapper">
      @for(i=1;i<=6;i++){
      <div class="swiper-slide">
        <a href="lot.html">
          <h3 class="lotsswiper-num h5 text-orange">Лот 777</h3>
          <div class="lotsswiper-img img-contain">
            <img src="./assets/images/pokazplace.png" data-src="./assets/images/lots/2.png" class="lazyload" alt="Лот 777">
          </div>
          <h4 class="lotsswiper-name h7">20 франков 1900 <br>(Швейцария) B</h4>
          <h5 class="lotsswiper-material h8">
            Золото 6,45 г. <br>
            AU 55
          </h5>
        </a>
      </div>
      }
    </div>
  </div>

</section>