<section class="masterpiece mt-80">
  <div class="swiper minteresting-swiper --masterpiece container">
    <div class="swiper-wrapper">
      @for(i=1;i<=3;i++) {
        <div class="swiper-slide">
          <h2 class="minteresting-title h2">Наши шедевры</h2>
          <div class="minteresting-types">
            <div class="masterpiece-type h4">Лот Номер</div>
          </div>
          <div class="minteresting-img img-cover">
            <img src="./assets/images/pokazplace.png" data-src="./assets/images/masterpiece/1.jpg" class="lazyload" alt="«Они легки и благодушны...». Драгоценности фирмы к. ФАБЕРЖЕ">
          </div>
          <div class="minteresting-bot">
            <h3 class="masterpiece-subtitle h3">Название в Две <br>строчки</h3>
            <div class="masterpiece-char">
              Характеристики<br>
              Характеристики<br>
              Характеристики<br>
            </div>
            <p class="masterpiece-desc">Лоты, которые будут выставлены на аукционе, доступны для ознакомления. Предоставляем вам возможность детально изучить предметы, оценить их состояние и историю, а также задать вопросы экспертам и кураторам.</p>
          </div>
        </div>
      }
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>