<section class="mbelieve mt-80">
  <h2 class="mbelieve-title h2 container">Почему нам доверяют?</h2>

  <div class="swiper mbelieve-swiper container">
    <div class="swiper-wrapper">
      <div class="swiper-slide mbelieve-item">
        <div class="mbelieve-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/mbelieve/1.svg" class="lazyload" alt="mbelieve">
        </div>
        <h3 class="mbelieve-subtitle">Безусловная подлинность, первоклассный уровень всех <br>предлагаемых предметов</h3>
      </div>
      <div class="swiper-slide mbelieve-item">
        <div class="mbelieve-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/mbelieve/2.svg" class="lazyload" alt="mbelieve">
        </div>
        <h3 class="mbelieve-subtitle">Компетентные эксперты, готовые предоставить  необхлдимую информацию</h3>
      </div>
      <div class="swiper-slide mbelieve-item">
        <div class="mbelieve-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/mbelieve/3.svg" class="lazyload" alt="mbelieve">
        </div>
        <h3 class="mbelieve-subtitle">Конфиденциальность и полная безопасность при проведении любых сделок</h3>
      </div>
      <div class="swiper-slide mbelieve-item">
        <div class="mbelieve-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/mbelieve/4.svg" class="lazyload" alt="mbelieve">
        </div>
        <h3 class="mbelieve-subtitle">Забота о сохранении культурного наследия России и ее традиций</h3>
      </div>
    </div>
  </div>
</section>