<section class="mcontacts mt-80 container">
  <h2 class="mcontacts-title h2">Контакты</h2>

  <div class="mcontacts-wrapper">
    <div class="mcontacts-right">
      <div class="mcontacts-info">
        Г. Москва, ул. Вавилова 57Б
        <br><br>
        Посещение офиса только по предварительной договоренности.
        <br><br><br class="xl-hidden">
        Телефон:+7(495) 357-46-00 <br>
        info@adacoins.ru
      </div>

      <ul class="mcontacts-socials">
        <li>
          <a href="#" class="mcontacts-social img-contain" aria-label="whatsup-link">
            <img src="./assets/images/pokazplace.png" data-src="./assets/images/contacts/1.png" class="lazyload" alt="whatsup">
          </a>
        </li>
        <li>
          <a href="#" class="mcontacts-social img-contain" aria-label="telegram-link">
            <img src="./assets/images/pokazplace.png" data-src="./assets/images/contacts/2.png" class="lazyload" alt="telegram">
          </a>
        </li>
      </ul>

      <div class="mcontacts-taxi img-contain"> 
        <picture>
          <source srcset="./assets/images/contacts/taxi-sm.svg" media="(max-width:500px)">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/contacts/taxi.svg" class="lazyload" alt="taxi">
        </picture>
      </div>
    </div>

    <div class="mcontacts-map">

    </div>
  </div>
</section>