<div class="menu">
  <ul class="menu-list">
    <li class="menu-item"><a href="private.html">Аукцион Частных Коллекций</a></li>
    <li class="menu-item"><a href="numis.html">Нумизматический аукцион</a></li>
    <li class="menu-item"><a href="gallery.html">Галерея</a></li>
    <li class="menu-item"><a href="intresting.html">Интересное</a></li>
    <li class="menu-item"><a href="information.html">Информация</a></li>
    <li class="menu-item"><a href="contacts.html">Контакты</a></li>
  </ul>
</div>