<section class="mfound">
  <div class="mfound-bg img-cover">
    <img src="./assets/images/main/3.jpg" alt="Аукционный Дом «Александр» основан в 2005 году">
  </div>

  <h2 class="mfound-title h2 container">Аукционный Дом «Александр» основан в 2005 году</h2>

  <ul class="mfound-list container">
    <li class="mfound-item">
      <div class="mfound-desc"></div>
      <div class="mfound-number">18 000</div>
      <div class="mfound-desc">лотов <br>в год</div>
    </li>
    <li class="mfound-item">
      <div class="mfound-desc">более</div>
      <div class="mfound-number">15</div>
      <div class="mfound-desc">аукционов <br>в год</div>
    </li>
    <li class="mfound-item">
      <div class="mfound-desc">более</div>
      <div class="mfound-number">5000</div>
      <div class="mfound-desc">постоянных <br>клиентов</div>
    </li>
  </ul>
</section>