<section class="mfound">
  <div class="mfound-bg img-cover">
    <picture>
      <source data-srcset="./assets/images/main/3-sm.jpg" media="(max-width:500px)">
      <img src="./assets/images/pokazplace.png" data-src="./assets/images/main/3.jpg" class="lazyload" alt="Аукционный Дом «Александр» основан в 2005 году">
    </picture>
  </div>

  <h2 class="mfound-title h2 container">Аукционный Дом «Александр» основан в 2005 году</h2>

  <ul class="mfound-list container">
    <li class="mfound-item">
      <div class="mfound-desc xl-hidden"></div>
      <div class="mfound-number xl-hidden">18 000</div>
      <div class="mfound-desc xl-hidden">лотов <br class="xl-hidden">в год</div>
      <div class="mfound-desc xl-block">18 000 <br>лотов в год</div>
    </li>
    <li class="mfound-item">
      <div class="mfound-desc xl-hidden">более</div>
      <div class="mfound-number xl-hidden">15</div>
      <div class="mfound-desc xl-hidden">аукционов <br class="xl-hidden">в год</div>
      <div class="mfound-desc xl-block">более 15 <br>аукционов в год</div>
    </li>
    <li class="mfound-item">
      <div class="mfound-desc xl-hidden">более</div>
      <div class="mfound-number xl-hidden">5000</div>
      <div class="mfound-desc xl-hidden">постоянных <br class="xl-hidden">клиентов</div>
      <div class="mfound-desc xl-block">более 5000 <br>постоянных клиентов</div>
    </li>
  </ul>
</section>