<section class="minteresting mt-80 --private">
  <div class="swiper minteresting-swiper --private container">
    <div class="swiper-wrapper">
      <div class="swiper-slide --private">
        <h2 class="minteresting-title h2">Интересное</h2>
        <div class="minteresting-types --private">
          <div class="minteresting-type --private">Категория</div>
        </div>
        <div class="minteresting-img --private img-cover">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/minteresting/1.jpg" class="lazyload" alt="«Они легки и благодушны...». Драгоценности фирмы к. ФАБЕРЖЕ">
        </div>
        <div class="minteresting-bot">
          <h3 class="minteresting-subtitle --private">Закончился 132-ой нумизматический акцион</h3>
          <p class="minteresting-desc --private">Небольшой абзац текста о том , что состоялось мероприятие, что там было и Небольшой абзац текста о том , что состоялось мероприятие, что там было и Небольшой абзац текста о том , что состоялось мероприятие
            <br><br>Что там было и Небольшой абзац текста о том , что состоялось мероприятие, что там было и Небольшой абзац текста о том , что состоялось мероприятие, что там было и Небольшой абзац текста о то</p>
          <a href="#" class="minteresting-link">Читать далее</a>
        </div>
      </div>
      <div class="swiper-slide --private">
        <h2 class="minteresting-title h2">Интересное</h2>
        <div class="minteresting-types --private">
          <div class="minteresting-type --private">Категория</div>
        </div>
        <div class="minteresting-img --private img-cover">
          <img src="./assets/images/pokazplace.png" data-src="" class="lazyload" alt="«Они легки и благодушны...». Драгоценности фирмы к. ФАБЕРЖЕ">
        </div>
        <div class="minteresting-bot">
          <h3 class="minteresting-subtitle --private">Закончился 132-ой нумизматический акцион</h3>
          <p class="minteresting-desc --private">Небольшой абзац текста о том , что состоялось мероприятие, что там было и Небольшой абзац текста о том , что состоялось мероприятие, что там было и Небольшой абзац текста о том , что состоялось мероприятие
            <br><br>Что там было и Небольшой абзац текста о том , что состоялось мероприятие, что там было и Небольшой абзац текста о том , что состоялось мероприятие, что там было и Небольшой абзац текста о то</p>
          <a href="#" class="minteresting-link">Читать далее</a>
        </div>
      </div>
      <div class="swiper-slide --private">
        <h2 class="minteresting-title h2">Интересное</h2>
        <div class="minteresting-types --private">
          <div class="minteresting-type --private">Категория</div>
        </div>
        <div class="minteresting-img --private img-cover">
          <img src="./assets/images/pokazplace.png" data-src="" class="lazyload" alt="«Они легки и благодушны...». Драгоценности фирмы к. ФАБЕРЖЕ">
        </div>
        <div class="minteresting-bot">
          <h3 class="minteresting-subtitle --private">Закончился 132-ой нумизматический акцион</h3>
          <p class="minteresting-desc --private">Небольшой абзац текста о том , что состоялось мероприятие, что там было и Небольшой абзац текста о том , что состоялось мероприятие, что там было и Небольшой абзац текста о том , что состоялось мероприятие
            <br><br>Что там было и Небольшой абзац текста о том , что состоялось мероприятие, что там было и Небольшой абзац текста о том , что состоялось мероприятие, что там было и Небольшой абзац текста о то</p>
          <a href="#" class="minteresting-link">Читать далее</a>
        </div>
      </div>
    </div>
  </div>
  <div class="minteresting-private container">
    <a href="intresting.html" class="minteresting-btn btn">Больше интересного</a>
  </div> 
  <div class="swiper-pagination"></div>
</section>