<section class="mlk mt-80 container">
  <h2 class="h2 mlk-title">Личный кабинет. Ваши возможности</h2>
  <h3 class="mlk-subtitle">Для удобства работы и взаимодействия с клиентами мы разработали платформу, на которой работают все наши аукционы.</h3>
  <ul class="mlk-list">
    <li class="mlk-item">
      <h4 class="mlk-h4">Покупатели:</h4>

      <ul class="mlk-sublist">
        <li class="mlk-subitem">Могут участвовать в аукционах, делать ставки, покупать предметы искусства</li>
        <li class="mlk-subitem">Добавлять понравившиеся лоты в избранное и следить за ними. Видеть историю покупок и статус завершенных сделок.</li>
        <li class="mlk-subitem">Видеть свой баланс и счет, оплачивать покупки по QR-кодам или банковскими переводами</li>
        <li class="mlk-subitem">Управлять способами доставки, добавлять новые адреса, получать особые условия</li>
        <li class="mlk-subitem">Получать приглашения на закрытые мероприятия по интересующим направлениям</li>
      </ul>
    </li>

    <li class="mlk-item">
      <h4 class="mlk-h4">Сдатчики:</h4>

      <ul class="mlk-sublist">
        <li class="mlk-subitem">Выставлять монеты и предметы искусства на аукционы</li>
        <li class="mlk-subitem">Следить за торгами онлайн и за активными продажами</li>
        <li class="mlk-subitem">Добавлять реквизиты для выплат, видеть финансовые операции и статусы продаж</li>
        <li class="mlk-subitem">Управлять оповещениями, напрямую общаться с экспертами Аукционного Дома</li>
        <li class="mlk-subitem">Получать эксклюзивные условия при постоянной работе с Аукционным Домом</li>
      </ul>
    </li>
  </ul>

  <div class="mlk-bot">
    <a href="register.html" class="btn mlk-btn">Зарегистрироваться</a>
  </div>
</section>