<section class="mservices mt-80">
  <h2 class="h2 mservices-title container">Наши услуги</h2>
  <h3 class="mlk-subtitle xl-block container">Для удобства работы и взаимодействия с клиентами мы разработали платформу, на которой работают все аукционы.</h3>

  <ul class="mservices-list container">
    <li class="mservices-item">
      <a href="service.html">Инвестиционные рекомендации</a>
    </li>
    <li class="mservices-item">
      <a href="service.html"><span class="xl-hidden">Демонстрация шедевров в вашем интерьере</span><span class="xl-block">Демонстрация <br>в интерьере</span></a>
    </li>
    <li class="mservices-item">
      <a href="service.html"><span class="xl-hidden">Составление и ведение календаря подарков</span><span class="xl-block">Ведение календаря подарков</span></a>
    </li>
    <li class="mservices-item">
      <a href="service.html">Экспертиза и оценка коллекций</a>
    </li>
    <li class="mservices-item">
      <a href="service.html">Помощь в продаже коллекций</a>
    </li>
    <li class="mservices-item">
      <a href="service.html">Консультации <br>экспертов</a>
    </li> 
  </ul>
</section>