<section class="mservices mt-80 container">
  <h2 class="h2 mservices-title">Наши услуги</h2>

  <ul class="mservices-list">
    <li class="mservices-item">
      <a href="service.html">Инвестиционные рекомендации</a>
    </li>
    <li class="mservices-item">
      <a href="service.html">Демонстрация шедевров в вашем интерьере</a>
    </li>
    <li class="mservices-item">
      <a href="service.html">Составление и ведение календаря подарков</a>
    </li>
    <li class="mservices-item">
      <a href="service.html">Экспертиза и оценка коллекций</a>
    </li>
    <li class="mservices-item">
      <a href="service.html">Помощь в продаже коллекций</a>
    </li>
    <li class="mservices-item">
      <a href="service.html">Консультации <br>экспертов</a>
    </li> 
  </ul>
</section>