<section class="nearest mt-80">
  <h2 class="h2 nearest-title container">Ближайшие аукционы</h2>

  <div class="nearest-swiper-wrapper">
    <div class="nearest-swiper swiper container">
      <ul class="nearest-list swiper-wrapper">
        <li class="nearest-item swiper-slide">
          <a href="lots.html">
            <h3 class="nearest-subtitle h3">Аукцион № 132</h3>
            <div class="nearest-desc h6">Идет прием лотов <br>Начало торгов: 13 февраля</div>
            <div class="btn nearest-btn">Принять участие</div>
          </a>
        </li>
        <li class="nearest-item swiper-slide">
          <a href="lots.html">
            <h3 class="nearest-subtitle h3">Аукцион № 133</h3>
            <div class="nearest-desc h6">Идет прием лотов <br>Начало торгов: 12 марта</div>
            <div class="btn nearest-btn">Принять участие</div>
          </a>
        </li>
        <li class="nearest-item swiper-slide">
          <a href="lots.html">
            <h3 class="nearest-subtitle h3">Аукцион № 134</h3>
            <div class="nearest-desc h6">Идет прием лотов <br>Начало торгов: 9 апреля</div>
            <div class="btn nearest-btn">Принять участие</div>
          </a>
        </li>
      </ul>
    </div>

    <button class="arrow-swiper next"><svg>
        <use xlink:href='./assets/images/sprite.svg#arrowR'></use>
      </svg></button>
    <button class="arrow-swiper prev"><svg>
        <use xlink:href='./assets/images/sprite.svg#arrowL'></use>
      </svg></button>
  </div>
</section>