<section class="mt-80 ngraph">
  <div class="swiper ngraph-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <h2 class="ngraph-title h2">Аукцион №132</h2>

        <div class="ngraph-block">
          <div class="ngraph-line img-contain">
            <ul class="ngraph-message">
              <li>
                <div>2 фев</div>
                <div>Окончание приема лотов</div>
              </li>
              <li>
                <div>
                  <div>13 фев</div>
                  <div>22 фев</div>
                </div>
                <div>Онлайн-торги <br>на сайте</div>
              </li>
            </ul>
            <img src="./assets/images/ngraph/1.svg" alt="line">
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="arrow-swiper next"><svg>
    <use xlink:href='./assets/images/sprite.svg#arrowR'></use>
  </svg></button>
<button class="arrow-swiper prev"><svg>
    <use xlink:href='./assets/images/sprite.svg#arrowL'></use>
  </svg></button>
</section>