<section class="mt-80 nhowto">
  <h2 class="h2 nhowto-title container">Как продать на аукционе?</h2>

  <div class="swiper nhowto-swiper container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="nhowto-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/nhowto/1.png" class="lazyload" alt="nhowto">
        </div>
        <h3 class="nhowto-subtitle h4">Можно передать будущий лот <br>с доверенным лицом, <span class="text-orange">прислать его почтой или курьерской службой</span>
        </h3>
      </div>
      <div class="swiper-slide">
        <div class="nhowto-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/nhowto/2.png" class="lazyload" alt="nhowto">
        </div>
        <h3 class="nhowto-subtitle h4">После заключения договора, ваш предмет попадает <span class="text-orange">на ближайший возможный</span> аукцион.</span>
        </h3>
      </div>
      <div class="swiper-slide">
        <div class="nhowto-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/nhowto/3.png" class="lazyload" alt="nhowto">
        </div>
        <h3 class="nhowto-subtitle h4">Результаты аукциона отображаются в <span class="text-orange">Личном кабинете</span>, в Балансе вы увидите полагающуюся к выплате сумму.</span>
        </h3>
      </div>
      <div class="swiper-slide">
        <div class="nhowto-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/nhowto/4.png" class="lazyload" alt="nhowto">
        </div>
        <h3 class="nhowto-subtitle h4">Сразу после выкупа лота на аукционе можно получить <span class="text-orange">деньги на свой банковский счет.</span></span>
        </h3>
      </div>
      <div class="swiper-slide">
        <div class="nhowto-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/nhowto/5.png" class="lazyload" alt="nhowto">
        </div>
        <h3 class="nhowto-subtitle h4">Если лот не продался, можно его забрать или <span class="text-orange">перевыставить на следующий аукцион</span> <br>с понижением стоимости.</span>
        </h3>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="nhowto-bot container">
    <div class="nhowto-calc img-contain">
      <img src="./assets/images/pokazplace.png" data-src="./assets/images/nhowto/calc.png" class="lazyload" alt="Как продать на аукционе?">
    </div>
    <div class="nhowto-commission h4">Комиссия аукциона составляет <span class="text-orange">10% от достигнутой на торгах цены</span>, но она взимается только в случае достаточного превышения стартовой цены. <span class="text-orange">Если Ваш предмет был продан по старту и превышения не было, то Вы ничего не платите!</span></div>
  </div>
</section>