<section class="mt-80 container parchive">
  <h2 class="h2 parchive-title">Архив Аукционов Частных Коллекций</h2>

  <ul class="parchive-list">
    <li class="parchive-item">
      <a href="archive.html">
        <div class="parchive-img img-cover"><img src="./assets/images/pokazplace.png" data-src="./assets/images/parchive/1.jpg" class="lazyload" alt="parchive"></div>
        <h3 class="parchive-subtitle">Аукцион Частных Коллекций №1</h3>
        <div class="parchive-desc">28 ноября 2023 - 6 декабря 2023 220 лотов</div>
      </a>
    </li>
    <li class="parchive-item">
      <a href="archive.html">
        <div class="parchive-img img-cover"><img src="./assets/images/pokazplace.png" data-src="./assets/images/parchive/1.jpg" class="lazyload" alt="parchive"></div>
        <h3 class="parchive-subtitle">Аукцион Частных Коллекций №1</h3>
        <div class="parchive-desc">28 ноября 2023 - 6 декабря 2023 220 лотов</div>
      </a>
    </li>
    <li class="parchive-item">
      <a href="archive.html">
        <div class="parchive-img img-cover"><img src="./assets/images/pokazplace.png" data-src="./assets/images/parchive/1.jpg" class="lazyload" alt="parchive"></div>
        <h3 class="parchive-subtitle">Аукцион Частных Коллекций №1</h3>
        <div class="parchive-desc">28 ноября 2023 - 6 декабря 2023 220 лотов</div>
      </a>
    </li>
  </ul>

  <div class="parchive-bot">
    <a href="archive.html" class="btn implement-btn">Перейти к архиву</a>
  </div>

</section>