<section class="mt-80 container parchive">
  <h2 class="h2 parchive-title">Архив нумизматических аукционов</h2>

  <ul class="parchive-list">
    <li class="parchive-item">
      <a href="archive.html">
        <div class="parchive-img img-cover"><img src="./assets/images/pokazplace.png" data-src="./assets/images/numis/2.jpg" class="lazyload" alt="parchive"></div>
        <h3 class="parchive-subtitle">Нумизматический аукцион <br>№131</h3>
        <div class="parchive-desc">16 января 2024 - 25 января 2024 <br>1218 лотов</div>
      </a>
    </li>
    <li class="parchive-item">
      <a href="archive.html">
        <div class="parchive-img img-cover"><img src="./assets/images/pokazplace.png" data-src="./assets/images/numis/2.jpg" class="lazyload" alt="parchive"></div>
        <h3 class="parchive-subtitle">Нумизматический аукцион <br>№132</h3>
        <div class="parchive-desc">15 декабря 2023 - 21 декабря 2023 <br>1190 лотов</div>
      </a>
    </li>
    <li class="parchive-item">
      <a href="archive.html">
        <div class="parchive-img img-cover"><img src="./assets/images/pokazplace.png" data-src="./assets/images/numis/2.jpg" class="lazyload" alt="parchive"></div>
        <h3 class="parchive-subtitle">Нумизматический аукцион <br>№133</h3>
        <div class="parchive-desc">30 ноября 2023 - 11 декабря 2023 <br>451 лот</div>
      </a>
    </li>
  </ul>

  <div class="parchive-bot">
    <a href="archive.html" class="btn implement-btn">Перейти к архивам</a>
  </div>

</section>