<section class="pfaq container mt-80">
  <h2 class="h2 pfaq-title">Ответы на ваши вопросы</h2>

  <ul class="pfaq-accordions">
    <li class="pfaq-item">
      <button class="pfaq-btn accordion-btn">
        Зачем нужна регистрация?

        <span class="plus"></span>
      </button>
      <div class="pfaq-block accordion-block">
        <div class="pfaq-inner accordion-inner">
          <p>
            Зарегистрированные пользователи могут сделать ставки на аукционах. А еще они могут создать свою личную подборку интересующих лотов в
            «избранном» и в любой момент посмотреть историю своих прежних покупок.
          </p>
        </div>
      </div>
    </li>
    <li class="pfaq-item">
      <button class="pfaq-btn accordion-btn">
        Могу ли я посетить выставку без участия в аукционе?

        <span class="plus"></span>
      </button>
      <div class="pfaq-block accordion-block">
        <div class="pfaq-inner accordion-inner">
          <p>
            Зарегистрированные пользователи могут сделать ставки на аукционах. А еще они могут создать свою личную подборку интересующих лотов в
            «избранном» и в любой момент посмотреть историю своих прежних покупок.
          </p>
        </div>
      </div>
    </li>
    <li class="pfaq-item">
      <button class="pfaq-btn accordion-btn">
        Зачем нужна регистрация?

        <span class="plus"></span>
      </button>
      <div class="pfaq-block accordion-block">
        <div class="pfaq-inner accordion-inner">
          <p>
            Зарегистрированные пользователи могут сделать ставки на аукционах. А еще они могут создать свою личную подборку интересующих лотов в
            «избранном» и в любой момент посмотреть историю своих прежних покупок.
          </p>
        </div>
      </div>
    </li>
    <li class="pfaq-item">
      <button class="pfaq-btn accordion-btn">
        Зачем нужна регистрация?

        <span class="plus"></span>
      </button>
      <div class="pfaq-block accordion-block">
        <div class="pfaq-inner accordion-inner">
          <p>
            Зарегистрированные пользователи могут сделать ставки на аукционах. А еще они могут создать свою личную подборку интересующих лотов в
            «избранном» и в любой момент посмотреть историю своих прежних покупок.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>