<section class="phow">
  <h2 class="phow-title h2 container">@title</h2>
  <div class="swiper phow-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="phow-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/phow/1.svg" class="lazyload" alt="phow">
        </div>
        <h3 class="phow-subtitle">Ознакомьтесь с лотами аукциона на сайте или в печатном каталоге</h3>
      </div>
      <div class="swiper-slide">
        <div class="phow-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/phow/2.svg" class="lazyload" alt="phow">
        </div>
        <h3 class="phow-subtitle">Посмотрите лоты очно или запросите детальное описание и проконсультируйтесь онлайн</h3>
      </div>
      <div class="swiper-slide">
        <div class="phow-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/phow/3.svg" class="lazyload" alt="phow">
        </div>
        <h3 class="phow-subtitle">Выберите лоты</h3>
      </div>
      <div class="swiper-slide">
        <div class="phow-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/phow/4.svg" class="lazyload" alt="phow">
        </div>
        <h3 class="phow-subtitle">Зарегистрируйтесь для участия в аукционе на сайте или очно</h3>
      </div>
      <div class="swiper-slide">
        <div class="phow-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/phow/5.svg" class="lazyload" alt="phow">
        </div>
        <h3 class="phow-subtitle">Участвуйте в аукционе на сайте, по телефону, очно или заочным бидом</h3>
      </div>
      <div class="swiper-slide">
        <div class="phow-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/phow/6.svg" class="lazyload" alt="phow">
        </div>
        <h3 class="phow-subtitle">Оплатите покупки наличными в офисе или банковским переводом</h3>
      </div>
      <div class="swiper-slide">
        <div class="phow-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/phow/7.svg" class="lazyload" alt="phow">
        </div>
        <h3 class="phow-subtitle">Получите покупки в офисе или закажите доставку</h3>
      </div>
      <div class="swiper-slide">
        <div class="phow-img img-contain">
          <img src="./assets/images/pokazplace.png" data-src="./assets/images/phow/8.svg" class="lazyload" alt="phow">
        </div>
        <h3 class="phow-subtitle">Наслаждайтесь</h3>
      </div>
    </div>
    <div class="swiper-pagination">

    </div>
  </div>
</section>