<section class="pnear mt-80">
  <div class="pnear-left">
    <h2 class="pnear-title">Ближайший аукцион: 23 мая</h2>
    <h3 class="pnear-subtitle">Аукцион Частных Коллекций №4</h3>
  
    <div class="pnear-desc">Аукцион предметов искусства в Москве, где будут представлены: восточное искусство, живопись, нумизматика, камнерезное искусство.</div>
  
    <a href="#" class="pnear-btn btn">Получить каталоги</a>
  </div>

  <div class="pnear-img img-contain">
    <img src="./assets/images/pokazplace.png" data-src="./assets/images/pnear/1.png" class="lazyload" alt="Аукцион Частных Коллекций №4">
  </div>
</section>