<section class="pokaz mt-80">
  <h2 class="pokaz-title container">13-22 Мая</h2>
  <h3 class="pokaz-subtitle h2 container">Предаукционный показ</h3>

  <div class="pokaz-block container">
    <div class="pokaz-img img-cover">
      <img src="./assets/images/pokazplace.png" data-src="./assets/images/pokaz/1.jpg" class="lazyload" alt="Предаукционный показ">
    </div>
    <div class="pokaz-rigth">
      <h4 class="pokaz-h4">Пройдет в Москве, в особняке Спиридонова</h4>
      <p class="pokaz-desc">
        Лоты, которые будут выставлены на аукционе, доступны для ознакомления. Предоставляем вам возможность детально изучить предметы, оценить их
        состояние и историю, а также задать вопросы экспертам и кураторам.
        <br><br>
        Аукцион и предаукционная выставка проходят в историческом <br class="xl-hidden">особняке Спиридонова в центре Москвы. Внутри особняка царит
        атмосфера
        благородства и
        изящества.
      </p>
    </div>
  </div>
  <div class="swiper pokaz-swiper container">
    <div class="swiper-wrapper">
      <div class="swiper-slide pokaz-item">
        <div class="pokaz-subimg img-contain">
          <picture>
            <source data-srcset="./assets/images/pokaz/1-sm.svg" media="(max-width:500px)">
            <img src="./assets/images/pokazplace.png" data-src="./assets/images/pokaz/1.svg" class="lazyload" alt="Изучение экспонатов">
          </picture>
        </div>
        <h5 class="pokaz-h5">Изучение экспонатов</h5>
      </div>
      <div class="swiper-slide pokaz-item">
        <div class="pokaz-subimg img-contain">
          <picture>
            <source data-srcset="./assets/images/pokaz/2-sm.svg" media="(max-width:500px)">
            <img src="./assets/images/pokazplace.png" data-src="./assets/images/pokaz/2.svg" class="lazyload" alt="Увлекательные лекции">
          </picture>
        </div>
        <h5 class="pokaz-h5">Увлекательные лекции</h5>
      </div>
      <div class="swiper-slide pokaz-item">
        <div class="pokaz-subimg img-contain">
          <picture>
            <source data-srcset="./assets/images/pokaz/3-sm.svg" media="(max-width:500px)">
            <img src="./assets/images/pokazplace.png" data-src="./assets/images/pokaz/3.svg" class="lazyload" alt="Профессиональные консультации">
          </picture>
        </div>
        <h5 class="pokaz-h5">Профессиональные консультации</h5>
      </div>
      <div class="swiper-slide pokaz-item">
        <div class="pokaz-subimg img-contain">
          <picture>
            <source data-srcset="./assets/images/pokaz/4-sm.svg" media="(max-width:500px)">
            <img src="./assets/images/pokazplace.png" data-src="./assets/images/pokaz/4.svg" class="lazyload" alt="Новые знакомства">
          </picture>
        </div>
        <h5 class="pokaz-h5">Новые <br>знакомства</h5>
      </div>
      <div class="swiper-slide pokaz-item">
        <div class="pokaz-subimg img-contain">
          <picture>
            <source data-srcset="./assets/images/pokaz/5-sm.svg" media="(max-width:500px)">
            <img src="./assets/images/pokazplace.png" data-src="./assets/images/pokaz/5.svg" class="lazyload" alt="Живая музыка">
          </picture>
        </div>
        <h5 class="pokaz-h5">Живая музыка</h5>
      </div>
    </div>
  </div>
</section>