<section class="pquestions mt-80 container">
  <h2 class="h2 pquestions-title">Остались вопросы?</h2>

  <h3 class="pquestions-subtitle">Свяжитесь с нами по телефону <a href="+74953574600">+7 (495 ) 357-46-00</a> или в любом удобном мессанджере</h3>

  <ul class="pquestions-socials">
    <li class="pquestions-social">
      <a href="#" class="img-contain">
        <img src="./assets/images/pokazplace.png" data-src="./assets/images/footer/1.svg" class="lazyload" alt="telegram">
      </a>
    </li>
    <li class="pquestions-social">
      <a href="#" class="img-contain">
        <img src="./assets/images/pokazplace.png" data-src="./assets/images/footer/2.svg" class="lazyload" alt="whatsup">
      </a>
    </li>
  </ul>

</section>