<section class="pvariants container mt-80">
  <h2 class="pvariants-title h2">Варианты участия в Аукционе Частных Коллекций</h2>

  <ul class="pvariants-list">
    <li class="pvariants-item">
      <h3 class="pvariants-subtitle">Очное участие</h3>
      <p class="pvariants-desc">Чтобы получить приглашение на Аукцион Частных Коллекций, необходимо зарегистрироваться в личном кабинете на платформе
        сайта и пройти авторизацию участника аукциона.</p>
    </li>
    <li class="pvariants-item">
      <h3 class="pvariants-subtitle">Онлайн-участие</h3>
      <p class="pvariants-desc">На Аукционе Частных Коллекций можно делать ставки онлайн. Полный доступ к каталогу и ставкам на аукционе будет
        доступен после регистрации и прохождения авторизации участника.</p>
    </li>
    <li class="pvariants-item">
      <h3 class="pvariants-subtitle">Заочный бид</h3>
      <p class="pvariants-desc">Если вы не можете участвовать в торгах лично, вы можете сделать свою максиальную ставку – заочный бид. Он торгуется от
        имени участника сотрудником аукциона или аукционистом, но не более, чем на максимальную сумму заявки.</p>
    </li>
    <li class="pvariants-item">
      <h3 class="pvariants-subtitle">Частные продажи</h3>
      <p class="pvariants-desc">Если вы не хотите регистрироваться на платформе, но желаете сделать ставку и провести сделку конфиденциально, у нас
        есть такая возможно. Свяжитесь с нами по телефону, указанному в разделе контактов для уточнения деталей. </p>
    </li>
  </ul>
</section>