<section class="mt-80 container schedule">
  <h2 class="h2 schedule-title">Расписание встреч на предаукционном показе</h2>
  <h3 class="schedule-subtitle h4">Сбор гостей в 19:00</h3>

  <ul class="schedule-list">
    @for(i=1;i<=10;i++) {
      <li class="schedule-item">
        <div class="schedule-date text-orange h3">22 мая</div>
        <h4 class="schedule-name h3">Татьяна Мунтян</h4>
        <div class="schedule-desc h4">Лекция про искусство в две <br>красивые строчки</div>
      </li>
    }
  </ul>

  <div class="implement-bot">
    <button class="btn implement-btn">Получить приглашение</button>
  </div>
</section>